@import "node_modules/react-datepicker/src/stylesheets/datepicker";
@import url("https://fonts.googleapis.com/css?family=Lato");

$baseFontSize: 16px;
$tabTextColor: white;
$inactiveTabBackgroundColor: #a3b66c;
$activeTabBackgroundColor: #6c7fb6;
$borderRadius: 3px;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Lato, sans-serif;
	font-size: $baseFontSize;
}

h1 {
	font-size: $baseFontSize * 2;
}

body {
	color: black;
	background: #e9f8be;
}

button {
	transition: ease-in-out 0.2s;
	cursor: pointer;
	border: 2px groove #888;
	border-radius: 5px;
	color: black;
	background: #FFD800;
	padding: 14px 21px 14px 21px;
	margin: 0 5px 0 5px;

	&:disabled {
		border-color: rgba(0,0,0,.2);
		background: rgba(255, 216, 0, .2);
		cursor: not-allowed;
	}

	&:enabled:hover {
		border-color: #ccc;
		background: #FFE900;
	}
}

.Tabs button {
	border: 0;
	border-radius: $borderRadius $borderRadius 0 0;
	background: $inactiveTabBackgroundColor;
	margin: 0;

	&:disabled {
		background: $activeTabBackgroundColor;
	}

	&:enabled:hover {
		background: #9BB54D;
	}
}

input, select {
	transition: ease-in-out 0.2s;
	border: 0px;
	background-color: rgba(255, 255, 255, .8);
	color: black;

	&:enabled:hover {
		background-color: rgba(255, 255, 255, .9);
	}

	&:enabled:focus {
		background-color: rgba(255, 255, 255, 1);
	}

	&:disabled {
		color: white;
		background-color: rgba(255, 255, 255, 0);
	}
}

.TabPage > fieldset {
	background-color: #7A8CBD;
	border: 0px;
	padding: 0px 5px 5px 5px;

	> legend {
		color: white;
		background: #7A8CBD;
		border-radius: $borderRadius $borderRadius;
		padding: 0 5px 0 5px;
		margin: 0 5px 0 5px;
	}
}

label.LabeledInput {
	background-color: rgba(255, 255, 255, .1);
	display: inline-block;
	margin: 2px;
	padding: 2px;

	> span:first-child {
		display: block;
	}
}

caption {
	text-align: left;
	font-weight: bold;
}

figure {
	margin: 0;
}

ul.Tabs {
	width: 650px;
	float: none;
	list-style: none;
	margin-left: 25px;

	> li {
		display: inline-block;

		> button {
			transition: ease-in-out 0.2s;
			text-transform: uppercase;
			font-size: 20px;
			padding: 14px 21px 14px 21px;
			margin-top: 3px;

			&:disabled {
				padding-top: 17px;
				margin-top: 0;
			}
		}
	}
}

.TabPage {
	color: $tabTextColor;
	background: $activeTabBackgroundColor;
	border-radius: $borderRadius;
	margin: 0px 5px 5px 5px;
	padding: 5px;
}

//Used by PageList.tsx
ol.PageList {
	list-style-type: none;
	padding-left: 0;
	text-align: center;
	display: block;

	> li {
		display: inline-block;
		margin: 0;
		padding: 0;

		> button {
			min-width: 50px;
			padding: 2px;
			margin: 2px;
		}
	}
}
//end ol.PageList

//Used by PopUp.tsx
.PopUp {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: all 500ms;
	visibility: hidden;
	opacity: 0;

	.Dialog {
		margin: 70px auto;
		padding: 20px;
		background: #fff;
		border-radius: 5px;
		width: 85%;
		max-width: 1000px;
		position: relative;

		h2 {
			margin-top: 0;
			color: #333;
		}

		.Close {
			min-width: inherit;
			padding: 0;
			position: absolute;
			top: 20px;
			right: 30px;
			transition: all 200ms;
			font-size: 30px;
			font-weight: bold;
			text-decoration: none;
			border: 0;
			background: inherit;
			color: black;
		}

		.Close:hover {
			color: darkgray;
		}

		.Content {
			max-height: 30%;
			overflow: auto;
		}
	}

	.Dialog {
		margin: 70px auto;
		padding: 20px;
		background: #fff;
		border-radius: 5px;
		width: 85%;
		max-width: 1000px;
		position: relative;

		h2 {
			margin-top: 0;
			color: #333;
		}

		.Close {
			min-width: inherit;
			padding: 0;
			position: absolute;
			top: 20px;
			right: 30px;
			transition: all 200ms;
			font-size: 30px;
			font-weight: bold;
			text-decoration: none;
			border: 0;
			background: inherit;
			color: black;
		}

		.Close:hover {
			color: darkgray;
		}

		.Content {
			max-height: 30%;
			overflow: auto;
		}
	}
}

.PopUp.Show {
	visibility: visible;
	opacity: 1;
}
//End of PopUp.tsx

table.CartItems {
	width: 100%;
}

ul.Rooms {
	list-style-type: none;
}

.HotelSearch figure.Thumbnail {
	$ThumbnailLength: 170px;

	width: $ThumbnailLength;
	max-width: $ThumbnailLength;
	height: $ThumbnailLength;
	max-height: $ThumbnailLength;
	background: rgba(0, 0, 0, 0.7)
}

.CarSearch figure.Thumbnail {
	$ThumbnailWidth: 195px;
	$ThumbnailHeight: 90px;

	width: $ThumbnailWidth;
	max-width: $ThumbnailWidth;
	height: $ThumbnailHeight;
	max-height: $ThumbnailHeight;
}

div.Checkout {
	display: none;
}

div.Checkout.Show {
	display: block;
}

div.Travel {
	display: none;
}

div.Travel.Show {
	display: block;
}
